site_name: WAVIhpc
nav:
  - Overview: index.md
repo_url: https://github.com/alextbradley/WAVIhpc
repo_name: WAVIhpc
edit_uri: edit/main/docs/
theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/logos-symbols/bas-roundel-inverse-transparent-64.png
  favicon: images/favicon.ico
  icon:
    repo: fontawesome/brands/github
  features:
    # Enables copying of code blocks
    - content.code.copy
    # Enables "edit this page" to contribute to docs
    - content.action.edit
markdown_extensions:
  - admonition
  # Enables code block highlighting
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.blocks.caption
  - pymdownx.tabbed:
      alternate_style: true
copyright: Copyright &copy; 2025 British Antarctic Survey